body {
	color: #666;
}
time, strong, small {
	color: #888;
}
strong {
	margin-left: 10px;
}
h2, h4 {
	color: #333;
}
h5 {
	font-weight: 300;
	font-size: 20px;
}
li {
	padding: 25px 0;
}
section {
	padding: 20px 0;
}

.border-bottom {
	border-bottom: 1px solid #eee;
}

section.home {
	padding-top: 200px;
	text-align: center;
}
section.home button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

section.stats {
	text-align: center;
}
section.stats span {
	display: inline-block;
	width: 80px;
}
section.stats h2 {
	margin: 0;
}

section.orgs img {
	border-radius: 3px;
	margin: 5px;
	width: 42px;
	height: 42px;
}
.slick-prev:before {
	color:  #ec008c;
}
.slick-next:before {
	color:  #ec008c;
}
.card-footer{
	background: white;
}
.fa-thumbs-up:before {
    color: #337ab7;
}
.fa-trash:before {
    color: #FF0000;
}
.nav{
	background: rgb(236, 0, 140);
	color:white;	
}
.toggle-label {
  position: relative;
  display: block;
  width: 300px;
  height: 100px;
  margin-top: 8px;
  border: 1px solid #808080;
margin: 200px auto;
}
.toggle-label input[type=checkbox] { 
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.toggle-label input[type=checkbox]+.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ed1c24;
  transition: background 150ms linear;  
}
.toggle-label input[type=checkbox]:checked+.back {
  background: #00a651; /*green*/
}

.toggle-label input[type=checkbox]+.back .toggle {
  display: block;
  position: absolute;
  content: ' ';
  background: #fff;
  width: 50%; 
  height: 100%;
  transition: margin 150ms linear;
  border: 1px solid #808080;
  border-radius: 0;
}
.toggle-label input[type=checkbox]:checked+.back .toggle {
  margin-left: 150px;
}
.toggle-label .label {
  display: block;
  position: absolute;
  width: 50%;
  color: #ddd;
  line-height: 80px;
  text-align: center;
  font-size: 2em;
}
.toggle-label .label.on { left: 0px; }
.toggle-label .label.off { right: 0px; }

.toggle-label input[type=checkbox]:checked+.back .label.on {
  color: #fff;
}
.toggle-label input[type=checkbox]+.back .label.off {
  color: #fff;
}
.toggle-label input[type=checkbox]:checked+.back .label.off {
  color: #ddd;
}
